.container{
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
}
.clomns{
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: red;
}